<h1>sqlteaching Progress</h1>

<table>
    <tr>
        <th>Full name</th>
        <th>Username</th>
        <th>Progress</th>
    </tr>
    {{#each progressList}}
    <tr>
        <td>{{full_name}}</td>
        <td>{{user_name}}</td>
        <td>{{progress}}%</td>
    </tr>
    {{/each}}
</table>